# git ignore file
Bank/bin
Bank/debug
Bank/obj
Bank/bin/*
Bank/debug/*
Bank/obj/*
TutorialNUnit.suo
Bank.UnitTest/bin
Bank.UnitTest/debug
Bank.UnitTest/obj
Bank.UnitTest/bin/*
Bank.UnitTest/debug/*
Bank.UnitTest/obj/*
*.suo